<!-- <h1>Hi hello everyone {{title}}</h1>

 <button (click="clickedAdd(10,20)")>click me</button>

<button (click)="add()">Add</button>
<button (click)="sub()">sub</button>
<button (click)="mul()">mul</button>
<button (click)="div()">div</button>


<button [disabled]=isDisabled>disabled</button>

<app-teacher></app-teacher>
<app-student></app-student>

<h1 class="bg-primary">bootstrap</h1> -->

<!-- <app-login></app-login>
<app-register></app-register> -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-rocket></app-rocket>